.MainMenu {
    padding: 0px 10px;
}

.MenuItems {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: 1px;
    border: 1px solid white;
}

.tabs {
    display: flex;
    justify-content: space-evenly;
}
