body :focus {
    outline: none;
}

.Menu {
    max-width: 50%;
}

.Table {
    display: flex;
    justify-content: center;
}

.TableRow {
    width: 100%;
}

.MainMenu {
    padding: 10px;
    color: black;
    margin: 5px;
    min-width: 100%;
}

.MenuItems {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1px;
}

.tab {
    display: flex;
    justify-content: space-evenly;
    overflow: scroll;
}

.CartIcon {
    /* padding: 10px; */
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.ItemText {
    font-size: medium;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.hvr-reveal {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-color: #738994;
    border-style: solid;
    border-width: 0;
    -webkit-transition-property: border-width;
    transition-property: border-width;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-reveal:hover:before,
.hvr-reveal:focus:before,
.hvr-reveal:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    border-width: 4px;
}
