@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

.profileContainer {
    font-family: "Just Another Hand", cursive;
    letter-spacing: 3px;
    opacity: 0.9;
    color: black;
    border-radius: 2%;
    background-color: #ffffff;
    width: auto;
    flex-grow: 1;
}

.profilePicture {
    padding: 5px;
    border-radius: 5%;
}

.profileDiv {
    padding: 10px;
    display: flex;
    border-radius: 2%;
}

.profileDiv h3 {
    padding: 30px 50px;
    font-size: 50px;
}

.accountInfoDiv {
    border-radius: 2%;
    padding: 20px;
}

.accountInfoDiv p {
    font-size: 30px;
}
.accountInfoDiv h4 {
    font-size: 40px;
}
