@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&:wght@300display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import "~antd/dist/antd.css";
* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
    margin: 0;
    height: 100%;
    background-image: url("../../images/fancy-pants.jpg");
}

a {
    color: hsl(0, 0%, 100%);
}
body {
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 100%);
    background-color: hsl(218, 28%, 13%);
    font-family: "Open Sans";
    font-size: 14px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.HeadingLight {
    text-align: center;
    color: white;
}

.TextInput {
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.whole-wrapper {
    width: 100%;
    position: relative;
    z-index: 10;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 10px;
}

.intro-section {
    background-color: hsl(217, 28%, 15%);
    width: 100%;
    font-weight: 400;
    position: relative;
    z-index: 10;
}

.bg-desktop {
    position: absolute;
    bottom: -10px;
    right: 0;
    left: 0;
    z-index: -1;
    display: block;
}

.bg-mobile {
    height: 100%;
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
    z-index: -1;
    display: none;
}

.logo-wrapper {
    width: 180px;
}

.navbar-wrapper {
    margin: 45px 0;
    display: flex;
}

.nav-items {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 0;
}

.nav-items li {
    padding-left: 50px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.nav-items li:hover {
    color: hsl(0, 0%, 75%);
}

.hero-section {
    text-align: center;
    padding-top: 0;
    padding-bottom: 160px;
}

.hero-section .hero-content {
    max-width: 720px;
    margin: 0 auto;
    padding: 20px;
    font-size: 15px;
}

.hero-content h1 {
    font-size: 2.2em;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 1.6px;
    margin: 10px 0;
    color: #d2dae2;
    font-family: "Raleway";
}

.hero-content h2 {
    color: #d2dae2;
}

.hero-content p {
    font-weight: 400;
    line-height: 1.6;
    margin: 30px 70px;
    letter-spacing: 1px;
}

.hero-content button {
    border: none;
    border-radius: 50px;
    width: 280px;
    color: gray;
    padding: 15px 0;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 400;
    background: lightcyan;
    transition: 0.2s ease;
    cursor: pointer;
    font-size: 30px;
}
.hero-content button:hover,
.signup-box form .signup-btn:hover {
    background: linear-gradient(135deg, hsl(176, 43%, 52%), hsl(198, 62%, 39%));
    box-shadow: 8px 8px 5px #0000003f;
    color: hsl(0, 0%, 100%);
}
.services-section,
.productive-section {
    margin-bottom: 50px;
}

.services-list {
    max-width: 80%;
    margin: 0 auto;
}

.services-list .service {
    width: 40%;
    float: left;
    text-align: center;
    margin: 0 60px;
    margin-bottom: 80px;
}

.services-list :nth-child(4),
.services-list :nth-child(2) {
    margin-right: 0;
}

.service h2 {
    font-family: "Raleway";
    margin-top: 30px;
    font-size: 20px;
}

.service p {
    margin: 10px 0;
    padding: 0 40px;
    line-height: 1.6;
    font-size: 14px;
    color: hsl(0, 0%, 75%);
}

.productive {
    width: 100%;
    display: flex;
    justify-content: center;
}

.productive-img {
    margin: 0 20px;
}

.productive-para {
    margin-left: 60px;
    margin-top: 120px;
}

.productive-para h1 {
    font-family: "Raleway";
    font-weight: 700;
    line-height: 1.3;
}

.productive-para p {
    max-width: 500px;
    font-weight: 400;
    color: hsl(0, 0%, 75%);
    margin: 20px 0;
    line-height: 1.4;
}

.productive-para a {
    color: hsl(176, 68%, 64%);
    border-bottom: 1px solid hsl(176, 68%, 64%);
    padding-bottom: 3px;
    transition: all 0.2s ease;
}

.productive-para a:hover {
    color: hsl(176, 82%, 74%);
    border-color: hsl(176, 82%, 74%);
}

.productive-para a img {
    position: relative;
    top: 4px;
    margin-left: 4px;
}

.testinomial-section {
    margin-top: 150px;
}

.testinomial-section .row {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.testinomial-section .row::before {
    content: "";
    position: relative;
    width: 60px;
    height: 45px;
    top: -35px;
    left: 70px;
    background-image: url(../../images/bg-quotes.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.testinomial-section .col {
    max-width: 360px;
    border-radius: 10px;
    margin: 0 20px;
    box-shadow: 10px 10px 5px hsla(0, 0%, 0%, 0.514);
    background-color: hsl(219, 30%, 18%);
}

.testinomial {
    padding: 30px;
}

.testinomial p {
    font-size: 14px;
    color: hsl(0, 0%, 75%);
    line-height: 1.6;
    margin: 10px 0;
}

.testinomial .profile {
    display: flex;
    margin-top: 25px;
}

.profile .profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile .user-name {
    line-height: 1.3;
    margin-top: 0;
    margin-left: 10px;
    font-size: 12px;
    color: hsl(0, 0%, 100%);
}

.user-name span {
    font-size: 10px;
    color: hsl(0, 0%, 75%);
}

.signup-section {
    margin-top: 80px;
}

.signup-box {
    max-width: 860px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    margin-bottom: -110px;
    background-color: hsl(217, 28%, 15%);
    box-shadow: 8px 10px 5px #00000069;
}

.signup-box h2 {
    line-height: 1.5;
    font-family: "Raleway";
}

.signup-box p {
    margin: 20px 0;
    padding: 0 50px;
    line-height: 1.6;
    font-weight: 500;
    color: hsl(0, 0%, 75%);
}

.signup-box form {
    width: 100%;
    margin-top: 40px;
}

.signup-box form .input-email {
    width: 60%;
    border: 0;
    border-radius: 50px;
    padding: 15px 30px;
    color: hsl(216, 32%, 17%);
    font-family: 600;
}

.signup-box form .input-email::placeholder {
    color: hsl(0, 0%, 75%);
}

.signup-box form .signup-btn {
    border: none;
    border-radius: 50px;
    color: hsl(0, 0%, 100%);
    padding: 15px 30px;
    text-transform: capitalize;
    font-weight: 600;
    margin-left: 30px;
    background: linear-gradient(135deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    cursor: pointer;
    transition: 0.2s ease;
}

.footer-top-wrapper {
    background-color: hsl(216, 53%, 9%);
    color: hsl(0, 0%, 75%);
}

.footer-logo {
    margin-top: 195px;
    margin-bottom: 10px;
}

.top-foooter {
    margin-top: 30px;
    margin-bottom: 80px;
    width: 100%;
    display: flex;
    justify-content: start;
}

.company-info-section {
    position: relative;
    flex-basis: 50%;
    display: flex;
}

.company-info-section .location {
    max-width: 370px;
}
.location p {
    position: relative;
    top: -28px;
    left: 30px;
    padding-right: 60px;
    line-height: 1.6;
}

.company-info-section .contacts {
    margin-left: auto;
    margin-right: 10px;
}
.contacts .phone-num,
.contacts .email {
    margin-bottom: 30px;
}
.contacts span {
    position: relative;
    top: -5px;
    margin-left: 18px;
}
.quick-links-section {
    display: flex;
    margin-left: auto;
}

.quick-links-section .links {
    margin-left: 100px;
}
.links li {
    margin-bottom: 10px;
}
.links li a {
    color: hsl(0, 0%, 75%);
    transition: 0.2s ease-in-out;
}
.links li a:hover {
    color: hsl(0, 0%, 100%);
}

.social-links li {
    display: inline-block;
    margin-left: 20px;
}
.footer-top-wrapper {
    border-bottom: 1px solid hsla(0, 0%, 75%, 0.1);
}

.footer-bottom-wrapper {
    background-color: hsl(216, 53%, 9%);
}

/* -----------------------MEDIA QUERIES--------------------------- */

@media only screen and (max-width: 1024px) {
    .container {
        max-width: 960px;
    }

    .services-list .service {
        margin-left: 40px;
    }

    .testinomial-section .row::before {
        width: 60px;
        height: 35px;
        top: -25px;
        left: 55px;
    }
    .company-info-section {
        flex-basis: 60%;
    }
    .company-info-section .contacts {
        width: 50%;
    }
    .quick-links-section .links {
        margin-left: 40px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 720px;
    }

    .bg-desktop {
        bottom: -5px;
    }
    .hero-content h1 {
        font-size: 1.9em;
        line-height: 1.5;
    }
    .hero-content p {
        line-height: 1.4;
        font-size: 14px;
    }
    .services-list .service {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        float: none;
    }
    .productive-para {
        margin-top: 0;
        margin-left: 40px;
    }

    .productive-para h1 {
        font-size: 1.9em;
    }
    .testinomial {
        padding: 15px;
    }
    .testinomial-section .row::before {
        width: 100px;
        height: 40px;
        left: 60px;
        top: -28px;
    }

    .top-foooter {
        flex-wrap: wrap;
    }
    .quick-links-section {
        margin-left: 0;
    }
    .company-info-section {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .company-info-section .contacts {
        width: 40%;
    }
    .quick-links-section .links {
        margin-left: 80px;
    }
    .quick-links-section .links:first-child {
        margin-left: 10px !important;
    }
}

@keyframes animateWave {
    0% {
        transform: scale(1, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}
/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}
@keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}
.hvr-buzz-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz-out:hover,
.hvr-buzz-out:focus,
.hvr-buzz-out:active {
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes hvr-wobble-vertical {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.hvr-wobble-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover,
.hvr-wobble-vertical:focus,
.hvr-wobble-vertical:active {
    -webkit-animation-name: hvr-wobble-vertical;
    animation-name: hvr-wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.bg-desktop > svg {
    display: block;
    transform-origin: bottom;
    animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}
.bg-desktop {
    text-align: center;
    overflow: hidden;
}

.whatWeDoWave > svg {
    display: block;
    transform-origin: bottom;
    animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}
.whatWeDoWave {
    text-align: center;
    overflow: hidden;
    padding: 0;
}

.howItWorksWave > svg {
    display: block;
    transform-origin: bottom;
    animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}
.howItWorksWave {
    text-align: center;
    overflow: hidden;
    padding: 0;
}

div.whatWeDoWave.container-fluid {
    padding: 0;
}
@media only screen and (max-width: 576px) {
    .container {
        max-width: 540px;
    }
    .logo-wrapper {
        width: 100px;
    }
    .logo-wrapper img {
        width: 100%;
    }
    .nav-items li {
        padding-left: 20px;
    }

    .hero-content h1 {
        font-size: 1.4em;
    }

    .hero-content p {
        margin-left: 0;
        margin-right: 0;
        font-size: 12px;
    }
    .hero-section {
        padding-bottom: 80px;
    }

    .services-list .service {
        width: 100%;
    }
    .service h2 {
        font-size: 18px;
    }

    .service p {
        padding: 0;
        font-size: 12px;
    }
    .productive {
        flex-wrap: wrap;
    }
    .productive-para {
        margin-top: 40px;
        margin-left: 10px;
    }
    .productive-para h1 br {
        display: none;
    }

    .productive-para h1 {
        font-size: 1.3em;
    }

    .productive-para a {
        font-size: 12px;
    }

    .testinomial-section .row {
        flex-wrap: wrap;
    }
    .testinomial-section .row::before {
        width: 40px;
        height: 30px;
        top: 0px;
        left: -126px;
    }
    .testinomial-section .col {
        margin-bottom: 20px;
    }

    .signup-box {
        padding: 10px;
    }

    .signup-box h2 {
        font-size: 18px;
        margin-top: 20px;
    }
    .signup-box p {
        padding: 0 20px;
    }
    .signup-box form .input-email {
        width: 90%;
    }
    .signup-box form .signup-btn {
        width: 90%;
        margin-left: 0;
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .footer-container {
        margin-left: 10px;
    }

    .footer-logo {
        margin-top: 150px;
        width: 150px;
    }

    .top-foooter {
        margin-bottom: 30px;
    }
    .company-info-section {
        flex-wrap: wrap;
    }
    .company-info-section .contacts {
        width: 100%;
    }
    .contacts .phone-num {
        margin-bottom: 15px;
    }
    .quick-links-section {
        display: block;
    }

    .quick-links-section .links {
        margin-left: 10px;
        margin-bottom: 30px;
    }
    .quick-links-section .social-links {
        margin-left: 100px;
        margin-bottom: 0px;
        margin-top: 50px;
    }
}
