@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

.profileContainer {
  font-family: "Just Another Hand", cursive;
  letter-spacing: 3px;
  background-color: #f5f6fa;
  color: black;
}

.profileDiv {
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  border: 2px outset black;
  border-radius: 5px;
}

.profileDiv h3 {
  padding: 30px 50px;
  font-size: 50px;
}

.accountInfoDiv {
  border: 2px outset black;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
}

.accountInfoDiv p {
  font-size: 30px;
}
.accountInfoDiv h4 {
  font-size: 40px;
}
