.WhatWeDo {
    background-color: #d2dae2;
    padding-bottom: 5px;
}

.WhatWeDo-text {
    font-size: 40px;
    color: gray;
    padding: 0px 100px;
}

.WhatWeDo-title {
    font-size: 60px;
    color: gray;
}
