@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");

.BusinessCard {
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;

}
