.LoginPage,
.SignupPage {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-family: "Rock Salt";
}

.InnerSignup,
.InnerLogin {
    background-color: #353b48;
    opacity: 0.95;
    border-radius: 10%;
    padding: 50px 100px 0px 100px;
}

.InnerSignup Form,
h2,
.InnerLogin h2 {
    color: white;
}

@media all and (min-width: 480px) {
    .Login {
        padding: 10px 0;
    }

    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }
}
